<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
  <application>
    <receiver
      android:name="com.pingplace.timealarm.TimeAlarmReceiver"
      android:enabled="true"
      android:exported="false" />
    <receiver
      android:name="com.pingplace.timealarm.TimeAlarmActionReceiver"
      android:enabled="true"
      android:exported="false" />
    <activity
      android:name="com.pingplace.timealarm.TimeAlarmStopActivity"
      android:enabled="true"
      android:exported="false"
      android:excludeFromRecents="true"
      android:noHistory="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity
      android:name="com.pingplace.timealarm.TimeAlarmRingingActivity"
      android:enabled="true"
      android:exported="false"
      android:excludeFromRecents="true"
      android:noHistory="true"
      android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    <service
      android:name="com.pingplace.timealarm.TimeAlarmService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="mediaPlayback" />
    <receiver
      android:name="com.pingplace.timealarm.TimeAlarmBootReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
